<body class="news-feed-container">
  <header class="news-feed-header">
  </header>
  <main class="news-feed-main">
    <% @facade.stories.each do |story| %>
      <div class="story-card">
        <div class="story-img-container">
          <img class="story-img" src= <%="#{story.urlToImage}"%> >
        </div>
        <h2 class="story-title">
          <%= link_to story.title, story.url %>
        </h2>
        <div class="add-fav-container">
          <% if !Favorite.exists?(story.url) %>
            <%= button_to "Add to Favorites", add_fav_path(favorite: {title: story.title, author: story.author, publication: story.name, date: story.publishedAt, url: story.url, img_url: story.urlToImage, description: story.description})%>
          <% else %>
            <p class="favorited">
              **Article Favorited**
            </p>
          <% end %>
        </div>
        <div class="by-line">
          <% if story.author %>
            By: <%= story.author %>
          <% end %>
        </div>
        <div class="publication">
          Source: <%= story.name %>
        </div>
        <div class="published-at">
          Date: <%= @facade.format_date(story.publishedAt) %>
        </div>
        <div class="description">
          <%= story.description %>
        </div>
        <br><br>
      </div>
    <% end %>
  </main>
</body>
